.TodoCard {
    width: 100%;
    height: 100%;
}

.cardHeader {
    display: flex;
    width: 100%;
    height: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: purple;
    margin: 0;
    padding-left: 20px;
}

.cardHeader section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
}

.cardHeader span {
    color: white;
}

.cardHeader h1 {
    margin: 0;
    color: white;
    
}

.cardHeader div {
    width: 70%;
    height: 100%;
}

.cardHeader form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.cardHeader input {
    width: 75%;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
}

.cardHeader input:focus {
    outline: none;
}

.cardHeader button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: purple;
    background-color: white;
}

.cardHeader button span {
    font-size: 30px;
    color: purple;
}

.cardHeader button:active{
    transform: translateY(1px);
}

.taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 88%;
    box-sizing: padding-box;
    border: 1px solid purple;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.taskList::-webkit-scrollbar {
    display: none;
}

.taskList .contentDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 33%;
    
}

.taskList section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
 
}

.taskList .contentDiv .task {
    color: black;
    font-size: larger;
    font-weight: bold;
}

.taskList .contentDiv .description {
   color: gray;
   font-size: small;
   margin-left: 10px;
}

.taskList .mainDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 7vh;
    border-bottom: 1px solid purple;
    margin: 10px;
    padding: 5px;
}

.taskList .dateDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33%;
}

.taskList button {
    border: none;
    outline: none;
    background-color: transparent;
}

.taskList button:active {
    transform: translateY(1px);
}

.checkIcon {
    color: green;
}

.deleteIcon {
    color: rgba(255, 38, 38, 0.795);
}

